<!-- ====================
modal of login
==================== -->

	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">
				<ul class="nav nav-tabs nav-tabs-custom nav-modal">
					<li class="active"><a href="#login" data-toggle="tab"> <i class="fa fa-sign-in"></i> Login</a></li>
					<li><a href="#create" data-toggle="tab"> <i class="fa fa-edit"></i> Create Account</a></li>
				</ul>
			</h4>
		</div>
		<div class="modal-body">
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane active in" id="login">
					<form>
						<div class="form-group">
							<label>User Name</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="User Name">
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
						<button type="button" class="btn btn-primary" ng-click="ok(registerDetails)">Login</button>
						<div class="login-help"> <a href="#create" data-toggle="tab">Register</a> - <a href="#">Forgot Password</a> </div>
					</form>
				</div>
			</div>
		</div>
	</div>

