<!-- ====================
modal for  register
==================== -->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close();" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">
			Create Account
			</h4>
		</div>
		<div class="modal-body">
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane active in" id="create">
					<form id="tab">
						<div class="form-group">
							<label>Name</label>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="User Name" ng-model="registerDetails.name">
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Id" ng-model="registerDetails.login.email" >
						</div>
						<div class="form-group">
							<label>Phone Number</label>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Phone Number" ng-model="registerDetails.login.mobile" >
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Password" ng-model="registerDetails.login.password" >
						</div>
						<div class="form-group">
							<label>Confirm Password</label>
							<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Confirm Password" ng-model="registerDetails.login.cnfpasswrd" >
						</div>
						<div class="form-group"> <a  data-toggle="modal" data-target="#termsModal">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="registerDetails.login.tncAgreed" /> I Agree with the terms and conditions </label>
							</div>
							</a> </div>
						<div>
							<button class="btn btn-primary" ng-click="save(registerDetails)" >Create Account</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

