<div class="container">
<div class="text-left mt-30">
<h1>About Us</h1>

<h4 class="mt-30">The Concept</h4>
<p class="text-center" style="font-size:24px">
अध्ययनम् अद्यपनम् तद्विध्य सम्भाषा चेत्युपाया :॥  -चरक संहिता
</p>
<p class="text-center">
Study, Teach and Discuss -Charaka Samhitha
</p>
<p class="mt-30">
VedicTotal brings you with a unique concept to guide and transform every individual to adapt to a Natural and Holistic Healthcare approach not just to eliminate diseases but also to take a step closer to Good Health 
</p>
<h4 class="mt-30">Who We Are</h4>
<p>
We are a team of passionate Experts and Researchers from the field of Healthcare, Agricultural Science, Environmental science, Psychology, Social science and Technology.
</p>
<p>
We believe:
</p>
<p class="text-center">
“There are no incurable diseases — only the lack of will. There are no worthless herbs — only the lack of knowledge” - Avicenna
</p>

<h4 class="mt-30">
What We Do
</h4>
<p>
Our vision is to foster health and have adopted Nature as our Model. We rely on Authentic Vedic scripts from various Traditional Health systems to build our knowledge base for you with Modern Health concepts. We guide YOU to make conscious and informed decisions about your health
</p>

<p>
We actively publish verified Health-related content, solutions and recommend the most appropriate Products and Services which are verified by our experts.
</p>
<p>
You can make use of our platform to acquire authentic information about different herbs. Through our platform you would also be able to take expert opinions for different health conditions.
</p>

<h4 class="mt-30"> 
Our core principles
</h4>

<p class="text-center">
We must turn to nature itself, to the observations of the body in health and in disease to learn the truth - Hippocrates
</p>

<h4 class="mt-30">
Our platform enables:
</h4>

<p class="text-center" style="font-size:24px">
स्वस्थस्य स्वास्थ्य रक्शणम् ।
आतुरस्य विकार प्रशमनम् च ॥    -चरक संहिता
</p>
<p class="text-center" >
To maintain the health of the healthy individual 
and to alleviate the disease of the sick -Charaka Samhitha
</p>

<p class="text-center mt-50" style="font-size:24px; font-style: italic;">
“We need to change our disease care system into a health care system” -Dr Frank Lipman
</p>


	</div>
</div>