<div class="container blog-details-page  mt-25 mb-45" ng-init="initBlog()">
  <div class="row">
    <div class="col-lg-8 pb-45 white-box">
      <h1 class="new-heading pt-10">{{blogDetails.title}}</h1>
      <p class="author"> <i class="fa fa-user"></i> {{blogDetails.author}} <i class="fa fa-clock-o"></i> <i>Posted {{getNow(blogDetails.date);}} </i></p>
      </p>
      <hr>
      <img src="{{blogDetails.image}}" class="img-responsive" alt="Image">
      <hr>
      <pre><p ng-bind-html="blogDetails.content"></p></pre>
      <hr>

      <!-- Comments Form -->
      <div class="well">
        <h4>Leave a Comment:</h4>
        <form role="form">
          <div class="form-group">
            <textarea class="form-control" ng-model="blogComment" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="insertBlogComment(blogComment,blogDetails)">Submit</button>
        </form>
      </div>
      <hr>
      <!-- Posted Comments --> 

      <div ng-repeat="comment in blogDetails.comments">
          <div class="media"> <a class="pull-left" href="#"> <img class="media-object"                             ng-src="{{comment.commenterImage == null ? 'images/noimage.jpg' : comment.commenterImage}}" style="width: 60px" alt=""> </a>
                <div class="media-body">
          <h4 class="media-heading">{{comment.commentedBy == null ? 'Anonymous' : comment.commentedBy}} <small>Commented {{getNow(comment.date);}}</small> </h4>
            {{comment.comment}}          
            <div class="pt-10 pb-10 blog-replay">
            <div class="col-md-12">
              <ul class="list-inline">
                <li> <a  ng-click="addReply(comment)"> <i class="fa fa-comments" ></i> Reply </a></li>
              </ul>
            </div>
            {{reply}}
                          <div ng-repeat="reply in comment.replies"
                            ng-show="comment.reply">
                            <div class="media-left">
                              <img
                                ng-src="{{reply.replierImage == null ? 'images/noimage.jpg' : reply.replierImage}}"
                                class="media-object" style="width: 60px">
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">
                                {{reply.repliedBy}} <small><i>Replied
                                    {{getNow(reply.date);}}</i></small>
                              </h4>
                              <p>{{reply.comment}}</p>
                            </div>
                          </div>
                          <textarea ng-show="comment.reply" ng-model="commentReply"
                            name="" id="input" class="form-control" rows="2" cols="1"
                            required="required" placeholder="Enter your Comments"></textarea>
                          <button ng-show="comment.reply" type="submit"
                            class="btn btn-primary"
                            ng-click="insertCommentReply(commentReply,comment)">Submit</button>

          </div>
        </div>
      </div>
      </div>

    </div>
    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
      <div class="blog-bg  clearfix pt-10">
        <div class="col-md-12">
          <h4 class="heading-border pb-10">Relevent  Blogs</h4>
          <div class="row a-black"> 
            <!--  Recent Exploration 1  --> 
            <a href="">
            <div class="col-md-4"> <img src="assets/images/tulsi-620x350.jpg" class="img-responsive"> </div>
            <div class="col-md-8 ">
              <p><b>Tulasi Indian Basil</b><br>
                Super herb for anti stress <br>
                Booster herb for digestic</p>
            </div>
            </a> 
            <!--  Recent Exploration 2  --> 
            <a href="">
            <div class="col-md-4"> <img src="assets/images/tulsi-620x350.jpg" class="img-responsive"> </div>
            <div class="col-md-8 ">
              <p><b>Tulasi Indian Basil</b><br>
                Super herb for anti stress <br>
                Booster herb for digestic</p>
            </div>
            </a> <!--  Recent Exploration 3  --> 
            <a href="">
            <div class="col-md-4"> <img src="assets/images/tulsi-620x350.jpg" class="img-responsive"> </div>
            <div class="col-md-8 ">
              <p><b>Tulasi Indian Basil</b><br>
                Super herb for anti stress <br>
                Booster herb for digestic</p>
            </div>
            </a> <!--  Recent Exploration 4  --> 
            <a href="">
            <div class="col-md-4"> <img src="assets/images/tulsi-620x350.jpg" class="img-responsive"> </div>
            <div class="col-md-8 ">
              <p><b>Tulasi Indian Basil</b><br>
                Super herb for anti stress <br>
                Booster herb for digestic</p>
            </div>
            </a> </div>
        </div>
      </div>
      <!-- Blog Categories Well -->
    </div>
  </div>
</div>
