<!-- ================
BREADCRUMBS  SECTION 
================ -->
<div class="container">
  <ol class="breadcrumb breadcrumb-custom">
    <li> <a href="index.html">Home</a> </li>
    <li> <a href="explore-list.html">Explore List</a> </li>
    <li class="active">Tulasi (Perticular Product Name)</li>
  </ol>
</div>
<!-- 
=========================
PRODUCT DETAILS SECTION
=========================
 --> 
<!-- =================================
LATEST EXPLORATION SECTION
================================= -->
<section class="Latest_Exploration container mb-40">
  <div class="col-md-12 pb-45 white-box">
    <div role="tabpanel" class="row white-box">
     <div class="tab-bottom col-md-12 clearfix">
          <h1 class="new-heading  pull-left">Tulasi , Indian Basil</h1>
            <!-- Nav tabs -->
            <ul class="nav nav-pills nav-tabs-custom" role="tablist">
              <li role="presentation" class="active"> <a data-target="#Benefits,#Benefits_else" href="#Benefits" aria-controls="Benefits" role="tab" data-toggle="tab">Benefits</a> </li>
              <li role="presentation"> <a data-target="#Side_effects,#Side_effects_else" href="#Side_effects" aria-controls="Side_effects" role="tab" data-toggle="tab">Side effects</a> </li>
              <li role="presentation"> <a data-target="#Uses,#Uses_else" href="#Uses" aria-controls="Uses" role="tab" data-toggle="tab">Uses</a> </li>
              <li role="presentation"> <a data-target="#References,#References_else" href="#References" aria-controls="References" role="tab" data-toggle="tab">References</a> </li>
            </ul>
          </div>
      <!-- Tab panes -->
      <div class="white-box">
        <div class="col-md-4  border-rght"> <img src="images/tulasi.jpg" class="img-responsive center-block" alt="Image"> 
          <!-- <h3 class="organge-box ">Tulasi , Indian Basil</h3> -->
          <h4 class="txt1 ">Native Names</h4>
          <p class="border-btm text-center">Anti-infective,Anti alleggic</p>
          <p class="text-center"> <span class="txt-colour"> Curative </span> &nbsp;&nbsp; Nutrive  &nbsp;&nbsp;Preventive</p>
          <p class="text-justify">Do’s & Dont’s for respiratory health. Do’s & Dont’s for respiratory health. Do’s & Dont’s for respiratory health. Do’s & Dont’s for respiratory health. Do’s & Dont’s.</p>
        </div>
        <div class="col-md-8  bg-light-gray border-lft">
          <div class="col-md-7">
            <ul class="ul-basic border-btm-orange">
              <li>Super bio herb for respiratory health</li>
              <li>Booster bio herb for anti stress</li>
            </ul>
            <div class="row font-12 ul-Indications">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Benefits">
                  <div class="col-md-6">
                    <h4 class="txt1 ">Indications</h4>
                    <ul class="pl-10">
                      <li>Benefits Indications </li>
                      <li>Benefits Indications </li>
                      <li>Benefits Indications </li>
                      <li>Benefits Indications </li>
                      <li>Benefits Indications </li>
                      <li>Benefits Indications </li>
                      <li>Benefits Indications </li>
                      <li>Benefits Indications </li>
                      <li>Benefits Indications </li>
                      <li>Benefits Indications </li>
                      <li>Benefits Indications </li>
                      <li>Benefits Indications </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h4 class="txt1 ">Symptoms</h4>
                    <ul class="pl-10">
                      <li>Benefits Symptoms </li>
                      <li>Benefits Symptoms </li>
                      <li>Benefits Symptoms </li>
                      <li>Benefits Symptoms </li>
                      <li>Benefits Symptoms </li>
                      <li>Benefits Symptoms </li>
                      <li>Benefits Symptoms </li>
                      <li>Benefits Symptoms </li>
                      <li>Benefits Symptoms </li>
                      <li>Benefits Symptoms </li>
                      <li>Benefits Symptoms </li>
                      <li>Benefits Symptoms </li>
                    </ul>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Side_effects">
                  <div class="col-md-6">
                    <h4 class="txt1 ">Indications</h4>
                    <ul class="pl-10">
                      <li>Side_effects Indications</li>
                      <li>Side_effects Indications</li>
                      <li>Side_effects Indications</li>
                      <li>Side_effects Indications</li>
                      <li>Side_effects Indications</li>
                      <li>Side_effects Indications</li>
                      <li>Side_effects Indications</li>
                      <li>Side_effects Indications</li>
                      <li>Side_effects Indications</li>
                      <li>Side_effects Indications</li>
                      <li>Side_effects Indications</li>
                      <li>Side_effects Indications</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h4 class="txt1 ">Symptoms</h4>
                    <ul class="pl-10">
                      <li>Side_effects Symptoms</li>
                      <li>Side_effects Symptoms</li>
                      <li>Side_effects Symptoms</li>
                      <li>Side_effects Symptoms</li>
                      <li>Side_effects Symptoms</li>
                      <li>Side_effects Symptoms</li>
                      <li>Side_effects Symptoms</li>
                      <li>Side_effects Symptoms</li>
                      <li>Side_effects Symptoms</li>
                      <li>Side_effects Symptoms</li>
                      <li>Side_effects Symptoms</li>
                      <li>Side_effects Symptoms</li>
                    </ul>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Uses">
                  <div class="col-md-6">
                    <h4 class="txt1 ">Indications</h4>
                    <ul class="pl-10">
                      <li>Uses Indications </li>
                      <li>Uses Indications </li>
                      <li>Uses Indications </li>
                      <li>Uses Indications </li>
                      <li>Uses Indications </li>
                      <li>Uses Indications </li>
                      <li>Uses Indications </li>
                      <li>Uses Indications </li>
                      <li>Uses Indications </li>
                      <li>Uses Indications </li>
                      <li>Uses Indications </li>
                      <li>Uses Indications </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h4 class="txt1 ">Symptoms</h4>
                    <ul class="pl-10">
                      <li>Uses Symptoms </li>
                      <li>Uses Symptoms </li>
                      <li>Uses Symptoms </li>
                      <li>Uses Symptoms </li>
                      <li>Uses Symptoms </li>
                      <li>Uses Symptoms </li>
                      <li>Uses Symptoms </li>
                      <li>Uses Symptoms </li>
                      <li>Uses Symptoms </li>
                      <li>Uses Symptoms </li>
                      <li>Uses Symptoms </li>
                      <li>Uses Symptoms </li>
                    </ul>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="References">
                  <div class="col-md-6">
                    <h4 class="txt1 ">Indications</h4>
                    <ul class="pl-10">
                      <li>References Indications </li>
                      <li>References Indications </li>
                      <li>References Indications </li>
                      <li>References Indications </li>
                      <li>References Indications </li>
                      <li>References Indications </li>
                      <li>References Indications </li>
                      <li>References Indications </li>
                      <li>References Indications </li>
                      <li>References Indications </li>
                      <li>References Indications </li>
                      <li>References Indications </li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h4 class="txt1 ">Symptoms</h4>
                    <ul class="pl-10">
                      <li>References Symptoms </li>
                      <li>References Symptoms </li>
                      <li>References Symptoms </li>
                      <li>References Symptoms </li>
                      <li>References Symptoms </li>
                      <li>References Symptoms </li>
                      <li>References Symptoms </li>
                      <li>References Symptoms </li>
                      <li>References Symptoms </li>
                      <li>References Symptoms </li>
                      <li>References Symptoms </li>
                      <li>References Symptoms </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 mb-50">
            <div class="bg-heading">
              <h3>Would you like to explore more </h3>
            </div>
            <div class="bg-gray pt-20 pb-20">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Benefits_else">
                  <ul class="pl-10">
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                    <li>Benefits Indications </li>
                  </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="Side_effects_else">
                  <ul class="pl-10">
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                    <li>Side_effects Indications</li>
                  </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="Uses_else">
                  <ul class="pl-10">
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                    <li>Uses Indications </li>
                  </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="References_else">
                  <ul class="pl-10">
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                    <li>References Indications </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row  details-list">
      <div class="mt-25 clearfix">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 heading-list">
              <h3 >Recently Explored</h3>
            </div>
            <div class="col-md-4" ng-repeat="product in productslist">
              <div class="box-white"> <a href={{product.url}}>
                <div class="imghvr-zoom-in">
                  <figure>
                    <div class="no-bg"> <img src={{product.image}} class="img-responsive" alt="Vedic Total">
                      <h3>{{product.name}}</h3>
                      <h5>{{product.details}}</h5>
                    </div>
                  </figure>
                </div>
                </a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div ng-include="'views/common/testimonial.html'"></div>