<!-- ================
BREADCRUMBS  SECTION 
================ -->
<div class="container">
  <ol class="breadcrumb breadcrumb-custom">
    <li><a href="index.html">Home</a></li>
    <li><a href="#/explorelist">Explore List</a></li>
    <li class="active">{{exploreDetails.name}}</li>
  </ol>
</div>
<!-- 
=========================
PRODUCT DETAILS SECTION
=========================
 -->
<!-- =================================
LATEST EXPLORATION SECTION
================================= -->
<section class="Latest_Exploration container mb-40">
  <div class="col-md-12 pb-45 white-box">
    <div role="tabpanel" class="row white-box">
      <div class="tab-bottom col-md-12 clearfix">
        <h1 class="new-heading  pull-left">{{exploreDetails.name}}</h1>
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-tabs-custom" role="tablist">
          <li role="presentation"
            ng-class="(selectedTab==property) ? 'active':''"
            ng-repeat="property in properties"><a
            aria-controls="Benefits" role="tab" aria-expanded="true"
            ng-click="updateData(property)">{{property}}</a></li>
        </ul>
      </div>
      <!-- Tab panes -->
      <div class="white-box">
        <div class="col-md-4  border-rght">
          <img
            ng-src="{{exploreDetails.image == null ? 'images/noimage.jpg' : exploreDetails.image}}"
            class="img-responsive center-block" alt="Image">
          <!-- <h3 class="organge-box ">Tulasi , Indian Basil</h3> -->
          <a href="#" popover-template="'nativeNames.html'"
            popover-trigger="mouseenter" popover-placement="bottom"
            popover-title="Native Names"><h4 class="txt1">
              Native Names
            </h4></a>
          <script type="text/ng-template" id="nativeNames.html">
        <div class="container-fluid" ng-repeat="nativeName in exploreDetails.nativeNames">
        <div class="row">
                  <div class="col-sm-12"><b>{{nativeName.name}}</b>&nbsp;&nbsp;:&nbsp;&nbsp;{{nativeName.nativeName}}</div>
        </div>
        </div>
    </script>
          <p class="border-btm text-center">
            <span class="txt-colour"
              ng-repeat="tType in exploreDetails.therapeuticActions">
              {{tType.name}}&nbsp;&nbsp;</span>
          </p>
          <p class="text-center">
            <span class="txt-colour"
              ng-repeat="tType in exploreDetails.therapeuticTypes">
              {{tType.name}}&nbsp;&nbsp;</span>
          </p>
          <h4 class="new-heading pull-left text-center">Super Bio
            Rejuvenator Herb</h4>
        </div>
        <div class="col-md-8  bg-light-gray border-lft">
          <div class="col-md-7">
            <h4 class="txt1 ">Did You Know?</h4>
            <ul class="pl-10" ng-repeat="dyk in exploreDetails.didYouKnow">
              <li ng-show="dyk != null" ng-bind-html="dyk"></li>
            </ul>
            <p class="border-btm">
            <div class="row font-12 ul-Indications">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Benefits">
                  <div>
                    <h4 class="txt1 ">Indications</h4>
                    <ul class="pl-10">
                      <li ng-bind-html="contentObject.defaultText"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 mb-50">
            <h5>Let's Explore! More About</h5>
            <h4>
              <b>{{exploreDetails.name}}</b>
            </h4>
            <div class="bg-gray pt-20 pb-20">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Benefits_else">
                  <ul class="pl-10">
                    <li ng-repeat="primary in contentObject"
                      ng-click="displaySecondary(primary.text)">{{primary.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <a ng-click="openAskAQuestion()"><h6>
              Ask a question on <b>{{exploreDetails.name}}</b>
            </h6></a>
        </div>
      </div>
    </div>

    <div class=" col-md-12 bg-shadow">
      <div class="row  details-list">
        <div class="clearfix">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 heading-list">
                <h5 class="">Related Herbs</h5>
              </div>
            </div>
            <carousel interval="3000"> <slide
              ng-repeat="slideCollection in exploreListCollection"
              active="explored.active">
            <div>
              <div class="col-md-4">
                <div class="">
                  <a href="#/exploredetails/{{slideCollection.image1.id}}">
                    <div class="">
                      <figure>
                        <div>
                          <img ng-src="{{slideCollection.image1.image}}"
                            style="margin: auto; height: 160px; width: 160px;">
                          <h5>{{slideCollection.image1.name}}</h5>
                        </div>
                      </figure>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="">
                  <a href="#/exploredetails/{{slideCollection.image2.id}}">
                    <div class="">
                      <figure>
                        <div>
                          <img ng-src="{{slideCollection.image2.image}}"
                            style="margin: auto; height: 160px; width: 160px;">
                          <h5>{{slideCollection.image2.name}}</h5>

                        </div>
                      </figure>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="">
                  <a href="#/exploredetails/{{slideCollection.image3.id}}">
                    <div class="">
                      <figure>
                        <div>
                          <img ng-src="{{slideCollection.image3.image}}"
                            style="margin: auto; height: 160px; width: 160px;">
                        </div>
                        <h5>{{slideCollection.image3.name}}</h5>
                      </figure>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            </slide> </carousel>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 heading-list">
                <h5 class="">Related Products</h5>
              </div>
            </div>
            <carousel interval="3000"> <slide
              ng-repeat="slideCollection in relatedProductsCollection"
              active="explored.active">
            <div>
              <div class="col-md-4">
                <div class="">
                  <a href="#/productdetails/{{slideCollection.image1.id}}">
                    <div class="">
                      <figure>
                        <div>
                          <img ng-src="{{slideCollection.image1.image}}"
                            style="margin: auto; height: 160px; width: 160px;">
                          <h5>{{slideCollection.image1.name}}</h5>
                        </div>
                      </figure>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="">
                  <a href="#/productdetails/{{slideCollection.image2.id}}">
                    <div class="">
                      <figure>
                        <div>
                          <img ng-src="{{slideCollection.image2.image}}"
                            style="margin: auto; height: 160px; width: 160px;">
                          <h5>{{slideCollection.image2.name}}</h5>
                        </div>
                      </figure>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="">
                  <a href="#/productdetails/{{slideCollection.image3.id}}">
                    <div class="">
                      <figure>
                        <div>
                          <img ng-src="{{slideCollection.image3.image}}"
                            style="margin: auto; height: 160px; width: 160px;">
                          <h5>{{slideCollection.image3.name}}</h5>
                        </div>
                      </figure>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            </slide> </carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- <div ng-include="'views/common/testimonial.html'"></div> -->