<script type="text/javascript">
  /**
* [To show filters in mobile]
* @return {[type]} [description]
*/
function showFilters(){
$('.filtersWidth').removeClass('hidden-xs hidden-sm');
$('.itemThumbnail').hide();
$('.filt-hide,.footer-links').addClass('dis-mobil');
}

function hideFilters() {
$('.filtersWidth').addClass('hidden-xs hidden-sm');
$('.filt-hide,.footer-links').removeClass('dis-mobil');
$('.itemThumbnail').show();
}
</script> 
<!-- ===============
MOBILE FILTER AND SORT BUTOON SECTION 
=============== -->
<div class="col-md-4 col-sm-12 col-xs-12 clearfix">
  <div class="row mobfixed">
    <div class="col-xs-6 col-sm-6">
      <button type="button" class="btn btn-primary hidden-lg hidden-md" onclick="showFilters()"> <i class="fa fa-filter"></i> FILTERS </button>
    </div>
    <div class="col-xs-6 col-sm-6 sortbtn">
      <input type="hidden" name="offset_val" id="offset_val" value="48">
      <select name="sort_discount" id="sort_discount" class="sortField" onchange="getSearchResults('sort-fltr')">
        <option value="" disabled="" selected=""> &nbsp;&nbsp;SORT</option>
        <option value="">Popular</option>
        <option value="1">Price: Low to High</option>
        <option value="2">Price: High to Low</option>
        <option value="3">Discount: High to Low</option>
      </select>
    </div>
  </div>
</div>
<!-- ================
BREADCRUMBS  SECTION 
================ -->
<div class="container">
  <ol class="breadcrumb breadcrumb-custom">
    <li> <a href="index.html">Home</a> </li>
    <li class="active">Explore List</li>
  </ol>
</div>
<!-- ================
LIST  SECTION 
================ -->
<div class="filter-outer-wrap">
  <div class="container padg20">
   <div class="row">
	 <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 filtersWidth hidden-xs hidden-sm">
        <form action="javascript:void(0);" method="post" id="" name="filter">
          <div class="filterheading hidden-xs hidden-sm">
            <h4>Exploration <span>10 Results</span></h4>
            <h3>Filters</h3>
          </div>
          <div class="filterheading hidden-lg hidden-md"> <span class="close-fltr" onclick="hideFilters()"> X </span> FILTERS </div>
          <ul class="filterUlBlock1">
            <li>
              <div class="pricediv">HEALTH CATEGORY <i class="fa fa-angle-down pull-right"></i> </div>
              <ul class="filterUlBlock">
                <li>
                  <div id="prod_brand" class="panel-body inner">
                    <div class="checkbox" ng-repeat="healthFilter in healthCategoryFilter">
                      <label>
                        <input type="checkbox" name="prod_brand" value="HEALTH CATEGORY 1 ">
                        <span>{{healthFilter}}</span> </label>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <div class="brderBottm"></div>
            <li>
              <div class="pricediv">MANUFACTURES <i class="fa fa-angle-down pull-right"></i> </div>
              <ul class="filterUlBlock">
                <li>
                  <div id="prod_brand" class="panel-body inner">
                    <div class="checkbox" ng-repeat="manufacture in manufactureFilter">
                      <label>
                        <input type="checkbox" name="prod_brand[]" value="MANUFACTURES 1 ">
                        <span>{{manufacture}} </span> </label>
                    </div>
                    
                  </div>
                </li>
              </ul>
            </li>
            <div class="brderBottm"></div>
            <li>
              <div class="pricediv">VEG/NON-VEG <i class="fa fa-angle-down pull-right"></i> </div>
              <ul class="filterUlBlock">
                <li>
                  <div id="prod_brand" class="panel-body inner">
                    <div class="checkbox" ng-repeat="recipe in recipeTypeFilter">
                      <label>
                        <input type="checkbox" value="lg" name="NON VEG">
                        <span>{{recipe}}</span> </label>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <div class="brderBottm"></div>
            <li>
              <div class="pricediv">HEALTH SYSTEMS <i class="fa fa-angle-down pull-right"></i> </div>
              <ul class="filterUlBlock">
                <li>
                  <div id="prod_brand" class="panel-body inner">
                    <div class="checkbox"  ng-repeat="healthSystem in healthSystemFilter">
                      <label>
                        <input type="checkbox" name="" value="AYURVEDA">
                        <span>{{healthSystem}}</span> </label>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <div class="brderBottm"></div>
          </ul>
          <div class="col-xs-12 filterfooter">
            <button type="button" class="btn btn-block btn-sm clr-fltr-btn pull-left hidden-lg hidden-md">CLEAR ALL</button>
            <button type="button" class="btn  btn-block btn-sm apply-fltr-btn pull-left hidden-lg hidden-md" onclick="getSearchResults('ap-filter')">APPLY FILTERS</button>
          </div>
        </form>
      </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 filt-hide"> 
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="exploreItem in exploreList">
      <div class="box-list"> <a href="#/exploredetails/{{exploreItem.id}}"> <img ng-src="{{exploreItem.image == null ? 'images/noimage.jpg' : exploreItem.image}}"  class="img-responsive center-block">
        <div class="product-content">
          <h3>{{exploreItem.name}}</h3>
          <p>{{exploreItem.description}} </p>
        </div>
      </div>
    </div>
   </div>
	</div>
</div>
<div ng-include="'views/common/testimonial.html'"></div>