<div class="container-fluid" ng-controller="PasswordCtrl">
<div class="col-sm-6">
<h5>Please Enter Email</h5>
<br/>
					<div class="form-group" ng-show="!isShowMessage">
						<label class=" col-sm-3 control-label">Email Id</label>
						<div class="col-sm-6">
							<input type="text" name="herbName" typeahead-min-length="1"
								typeahead-on-select="onSelect($item, $model, $label)"
								placeholder=" Enter Email Id" required
								class="form-control input-sm ng-pristine ng-invalid ng-invalid-required ng-valid-pattern"
								ng-model="login.email" typeahead-editable='false'
								ng-maxlength="150" />
							<p ng-show="isShowMessage"
								class="help-block">{{errorMessage}}</p>
						</div>
						<div class="col-sm-3"><button type="button" class="btn btn-primary" ng-click="forgotPassword(login)">Submit</button></div>					<p ng-show="isShowErrorMessage"><span style="color:red;">Please Enter a Valid Email</span></p>

					</div>
					<br/>
					<p ng-show="!isShowMessage">The new password will be sent to this email. Please enter a valild email.</p>
					<p ng-show="isShowMessage">Password has been sent to your email, use that password for login. </p>
</div>
</div>