<!-- ================
BREADCRUMBS  SECTION 
================ -->
<div class="container">
  <ol class="breadcrumb breadcrumb-custom">
    <li> <a href="index.html">Home</a> </li>
    <li> <a href="#/manufacturerlisting">Manufacturer List</a> </li>
    <li class="active">{{manufacturerDetails.name}}</li>
  </ol>
</div>
<!-- 
=========================
PRODUCT DETAILS SECTION
=========================
 --> 
<!-- =================================
LATEST EXPLORATION SECTION
================================= -->
<section class="Latest_Exploration">
  <div class="container mb-40"> 
    <!-- <h1 class="first_heading first_heading-0 go" style="margin-bottom: 0;">Manufacturer Name</h1> -->
    <div class="col-md-12 pb-45 white-box">
      <div role="tabpanel" class="row white-box">
        <div class="tab-bottom col-md-12 clearfix">
            <h1 class="new-heading  pull-left">{{manufacturerDetails.name}}</h1>
              <!-- Nav tabs -->
              <ul class="nav nav-pills nav-tabs-custom" role="tablist">
                <li role="presentation" class="active"> <a data-target="#description" href="" aria-controls="description" role="tab" data-toggle="tab">Description</a> </li>
                <li role="presentation" > <a data-target="#address" href="" aria-controls="address" role="tab" data-toggle="tab">Address</a> </li>
              </ul>
            </div>
        <!-- Tab panes -->
        <div class="white-box">
          <div class="col-md-4  border-rght pt-20"> <img ng-src="{{manufacturerDetails.image == null ? 'images/noimage.jpg' : manufacturerDetails.image}}"  class="img-responsive center-block"" alt="Image"> 
            <!-- <h3 class="organge-box ">Manufacturer Name</h3> -->
            <h4 class="txt1 ">{{manufacturerDetails.code}}</h4>
          </div>
          <div class="col-md-8  bg-light-gray border-lft">
            <div class="col-md-12">
              <div class="row font-12">
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="description">
                    <div class="col-md-12">
                      <h3 class="txt2-brder head-0">DESCRIPTION</h3>
                      <p>{{manufacturerDetails.description}}</p>
                      <ul>
                        <li><b>Health Systems</b><br />{{manufacturerDetails.healthSystems}}</li><br />
                        <li><b>Portfolio</b><br />{{manufacturerDetails.portfolio}}</li><br />
                        <li><b>Certifications</b><br />{{manufacturerDetails.certifications}}</li><br />
                        <li><b>Sales Type</b><br />{{manufacturerDetails.salesType}}</li><br />
                        <li><b>Clinical Trials</b><br />{{manufacturerDetails.clinicalTrials}}</li><br />
                        <li><b>Type</b><br />{{manufacturerDetails.type}}</li><br />
                      </ul>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="address">
                    <div class="col-md-6">
                      <h3 class="txt2-brder head-0">ADDRESS</h3>
                      <div class="contact-li row">
                        <div class="col-md-1"><i class="fa fa-map-marker"></i></div>
                        <div class="col-md-11">
                          <h4>{{manufacturerDetails.address.addressLine1}}<br>
                            {{manufacturerDetails.address.addressLine2}}<br>
                            {{manufacturerDetails.address.city}}<br>
							{{manufacturerDetails.address.state}} - {{manufacturerDetails.address.pincode}}</h4>
                        </div>
                      </div>
                      <div class="contact-li row">
                        <div class="col-md-1"><i class="fa fa-phone"></i></div>
                        <div class="col-md-11">
                          <h4><a href="tel:123467890"> {{manufacturerDetails.address.phoneNo}} </a></h4>
                          <h4><a href="tel:123467890"> {{manufacturerDetails.address.mobileNo}} </a></h4>
                        </div>
                      </div>
                      <div class="contact-li row">
                        <div class="col-md-1"><i class="fa fa-envelope-o"></i></div>
                        <div class="col-md-11">
                          <h4><a href="tel:info@manufacturer.com"> {{manufacturerDetails.address.email}} </a></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row details-list">
        <div class=" mt-10 mb-10 clearfix">
          <div class="col-md-12">
            <div class="row details-list">
              <div class="col-md-12 heading-list">
                <h3 >List of Products</h3>
              </div>
              <div class="col-md-2" ng-repeat="product in otherProductList">
                <div class="box-white"> <a href={{product.url}}>
                  <div class="imghvr-zoom-in">
                    <figure>
                      <div class="no-bg"> <img src={{product.image}} class="img-responsive" alt="Vedic Total">
                        <h3>{{product.name}}</h3>
                        <h5>{{product.details}}</h5>
                      </div>
                    </figure>
                  </div>
                  </a> </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div ng-include="'views/common/testimonial.html'"></div>