<!-- ================
BREADCRUMBS  SECTION 
================ -->
<div class="container">
<ol class="breadcrumb breadcrumb-custom">
  <li>
    <a href="index.html">Home</a>
  </li>
  <li class="active">Manufacturer List</li>
</ol>
</div>
<!-- ================
LIST  SECTION 
================ -->
<div class="filter-outer-wrap">
  <div class="container padg20">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 filtersWidth hidden-xs hidden-sm">
        <form action="javascript:void(0);" method="post" id="" name="filter">
          <div class="filterheading hidden-xs hidden-sm">
            <h4>Product Name <span>10 Results</span></h4>
            <h3>Filters</h3>
          </div>
          <div class="filterheading hidden-lg hidden-md"> <span class="close-fltr" onclick="hideFilters()"> X </span> FILTERS </div>
          <ul class="filterUlBlock1">
            <li>
              <div class="pricediv">HEALTH CATEGORY <i class="fa fa-angle-down pull-right"></i> </div>
              <ul class="filterUlBlock">
                <li>
                  <div id="prod_brand" class="panel-body inner">
                    <div class="checkbox" ng-repeat="healthFilter in healthCategoryFilter">
                      <label>
                        <input type="checkbox" name="prod_brand" value="HEALTH CATEGORY 1 ">
                        <span>{{healthFilter}}</span> </label>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <div class="brderBottm"></div>
             <li>
              <div class="pricediv">HEALTH SYSTEMS <i class="fa fa-angle-down pull-right"></i> </div>
              <ul class="filterUlBlock">
                <li>
                  <div id="prod_brand" class="panel-body inner">
                    <div class="checkbox" ng-repeat="healthSystem in healthSystemFilter">
                      <label>
                        <input type="checkbox" name="prod_brand[]" value="AYURVEDA">
                        <span>{{healthSystem}}</span> </label>
                    </div>
                    
                  </div>
                </li>
              </ul>
            </li>
            <div class="brderBottm"></div>
            <li>
              <div class="pricediv">ENTERPRISE TYPE <i class="fa fa-angle-down pull-right"></i> </div>
              <ul class="filterUlBlock">
                <li>
                  <div id="prod_brand" class="panel-body inner">
                    <div class="checkbox" ng-repeat="enterpriseType in enterpriseTypeFilter ">
                      <label>
                        <input type="checkbox" name="prod_brand[]" value="ENTERPRISE TYPE 1 ">
                        <span>{{enterpriseType}} </span> </label>
                    </div>
                    
                  </div>
                </li>
              </ul>
            </li>
            <div class="brderBottm"></div>
          </ul>
          <div class="col-xs-12 filterfooter">
            <button type="button" class="btn btn-block btn-sm clr-fltr-btn pull-left hidden-lg hidden-md">CLEAR ALL</button>
            <button type="button" class="btn  btn-block btn-sm apply-fltr-btn pull-left hidden-lg hidden-md" onclick="getSearchResults('ap-filter')">APPLY FILTERS</button>
          </div>
        </form>
      </div>
      
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 filt-hide mb-45"> 
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" ng-repeat="manufacturerDetails in manufacturersList">
			<a href="#/manufacturerdetails/{{manufacturerDetails.id}}"> <img ng-src="{{manufacturerDetails.image == null ? 'images/noimage.jpg' : manufacturerDetails.image}}"  class="img-responsive center-block"" alt="Image">
        <div class="product-content">
          <h3>{{manufacturerDetails.name}}</h3>
        </div>
      </div>
    </div>
    
  </div>
    </div>
  </div>
</div>
<div ng-include="'views/common/testimonial.html'"></div>