<!-- ================
BREADCRUMBS  SECTION 
================ -->
<div class="container">
  <ol class="breadcrumb breadcrumb-custom">
    <li> <a href="index.html">Home</a> </li>
    <li> <a href="#/productlisting">Product List</a> </li>
    <li class="active">{{productDetails.name}}</li>
  </ol>
</div>
<!-- 
=========================
PRODUCT DETAILS SECTION
=========================
 --> 
<!-- =================================
LATEST EXPLORATION SECTION
================================= -->
<section class="Latest_Exploration">
  <div class="container mb-40"> 
    <div class="col-md-12 pb-45 white-box">
      <div role="tabpanel" class="row white-box">
        <div class="tab-bottom clearfix">
          <div class="col-md-12">
            <h1 class="new-heading pull-left">{{productDetails.name}}</h1>
              <!-- Nav tabs -->
              <ul class="nav nav-pills nav-tabs-custom" role="tablist">
                <li role="presentation" class="active"> <a data-target="#description" href="" aria-controls="description" role="tab" data-toggle="tab">Description</a> </li>
                <li role="presentation" > <a data-target="#Specifications" href="" aria-controls="Specifications" role="tab" data-toggle="tab">Specifications</a> </li>
              </ul>
            </div>
          </div>
        <!-- Tab panes -->
        <div class="white-box">
          <div class="col-md-4  border-rght pt-20"> <img ng-src="{{productDetails.image == null ? 'images/noimage.jpg' : productDetails.image}}"  class="img-responsive center-block"" alt="Image"> 
            <!-- <h3 class="organge-box ">Manufacturer Name</h3> -->
            <h4 class="txt1 ">{{productDetails.manufacturer}}</h4>
          </div>
          <div class="col-md-8  bg-light-gray border-lft">
            <div class="col-md-12">
              <div class="row font-12">
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="description">
                    <div class="col-md-12">
                      <h3 class="txt2-brder head-0">DESCRIPTION</h3>
					  {{productDetails.description}}
                      <ul>
                        <li><b>System</b><br />{{productDetails.system}}</li><br />
                        <li><b>Key Ingredients</b><br />{{productDetails.keyIngredients}}</li><br />
                        <li><b>All Ingredients</b><br />{{productDetails.allIngredients}}</li><br />
                        <li><b>Indications</b><br />{{productDetails.indications}}</li><br />
                        <li><b>Clinical Artifacts</b><br />{{productDetails.clinicalArtifacts}}</li><br />
                        <li><b>Special Contents</b><br />{{productDetails.specialContents}}</li><br />
                      </ul>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="Specifications">
                   <div class="col-md-12">
                      <h3 class="txt2-brder head-0">SPECIFICATIONS</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                      <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row details-list">
        <div class=" mt-10 mb-10 clearfix">
          <div class="col-md-12">
            <div class="row details-list">
              <div class="col-md-12 heading-list">
                <h3>Related Products</h3>
              </div>
									<div class="col-md-2" ng-repeat="productDetails in otherProductList">
										<div class="box-white"> <a href={{productDetails.url}}>
											<div class="imghvr-zoom-in">
												<figure>
													<div class="no-bg"> <img src={{productDetails.image}} class="img-responsive" alt="Vedic Total">
														<h3>{{productDetails.name}} </h3>
														<h5>{{productDetails.details}}</h5>
													</div>
												</figure>
											</div>
											</a> </div>
									</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="share share-icons">
    <ul class="list-unstyled sicon pull-right">
      <span>Share</span>
      <li>
        <div class="icon-circle"> <a href="#" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a> </div>
      </li>
      <li>
        <div class="icon-circle"> <a href="#" class="itwittter" title="Twitter"><i class="fa fa-twitter"></i></a> </div>
      </li>
      <li>
        <div class="icon-circle"> <a href="#" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a> </div>
      </li>
      <li>
        <div class="icon-circle"> <a href="#" class="iLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a> </div>
      </li>
    </ul>
  </div>
</section>
<!-- <div ng-include="'views/common/testimonial.html'"></div> -->