<!-- ================
BREADCRUMBS  SECTION 
================ -->
<div class="container">
  <ol class="breadcrumb breadcrumb-custom">
    <li> <a href="index.html">Home</a> </li>
    <li> <a href="#/professionallisting">Professional List</a> </li>
    <li class="active">{{professionalDetails.name}}</li>
  </ol>
</div>
<!-- 
=========================
PRODUCT DETAILS SECTION
=========================
 --> 
<!-- =================================
LATEST EXPLORATION SECTION
================================= -->
<section class="Latest_Exploration">
  <div class="container mb-40">
    <div class="col-md-12 pb-45 white-box">
      <div role="tabpanel" class="row white-box">
        <div class="tab-bottom clearfix">
          <div class="col-md-12">
            <h1 class="new-heading pull-left">{{professionalDetails.name}}</h1>
            <!-- Nav tabs -->
            <ul class="nav nav-pills nav-tabs-custom" role="tablist">
              <li role="presentation" class="active"> <a data-target="#description" href="" aria-controls="description" role="tab" data-toggle="tab">Professional Description</a> </li>
              <li role="presentation" > <a data-target="#address" href="" aria-controls="address" role="tab" data-toggle="tab">Professional Contact Details</a> </li>
            </ul>
          </div>
        </div>
        <!-- Tab panes -->
        <div class="white-box">
          <div class="col-md-4 border-rght pt-20"><img ng-src="{{professionalDetails.image == null ? 'images/noimage.jpg' : professionalDetails.image}}"  class="img-responsive center-block">
            <h4 class="txt1 ">{{professionalDetails.education}}</h4>
            <p class="border-btm text-center">{{professionalDetails.specialization}}</p>
          </div>
          <div class="col-md-8  bg-light-gray border-lft">
            <div class="col-md-12">
              <div class="row font-12">
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="description">
                    <div class="col-md-12">
                      <h3 class="txt2-brder  head-0">DESCRIPTION</h3>
                      <p>{{professionalDetails.about}}</p>
                      <ul>
                        <li><b>Registration Number</b><br />{{professionalDetails.registrationNo}}</li><br />
                        <li><b>Practicing Since</b><br />{{professionalDetails.practicingFrom}}</li><br />
                        <li><b>System</b><br />{{professionalDetails.system}}</li><br />
                        <li><b>Certifications</b><br />{{professionalDetails.certifications}}</li><br />
                        <li><b>Publications</b><br />{{professionalDetails.contentPublishing}}</li><br />
                      </ul>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="address">
                    <div class="col-md-6">
                      <h3 class="txt2-brder  head-0">ADDRESS</h3>
                      <div class="contact-li row">
                        <div class="col-md-1"><i class="fa fa-map-marker"></i></div>
                        <div class="col-md-11">
                          <h4>{{professionalDetails.name}}<br>
                            {{professionalDetails.address.addressLine1}}<br>                            {{professionalDetails.address.addressLine2}}<br>
                            {{professionalDetails.address.city}}<br>
                            {{professionalDetails.address.state}} -                             {{professionalDetails.address.pincode}}</h4>
                        </div>
                      </div>
                      <div class="contact-li row">
                        <div class="col-md-1"><i class="fa fa-phone"></i></div>
                        <div class="col-md-11">
                          <h4><a href="tel:{{professionalDetails.address.phoneNo}}">                            {{professionalDetails.address.phoneNo}}</a></h4>
                          <h4><a href="tel:{{professionalDetails.address.mobileNo}}">                            {{professionalDetails.address.mobileNo}}</a></h4>

                        </div>
                      </div>
                      <div class="contact-li row">
                        <div class="col-md-1"><i class="fa fa-envelope-o"></i></div>
                        <div class="col-md-11">
                          <h4><a href="tel:{{professionalDetails.address.email}}"> {{professionalDetails.address.email}}</a></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Professionals_details">
        <div class="row details-list">
          <div class="col-md-12  mt-25 clearfix">
            <div class="row">
              <div class="col-md-12 heading-list">
                <h3> Other Professionals</h3>
              </div>
              <div class="col-md-2" ng-repeat="professional in otherProfessionals">
                <div class="box-white"> <a href={{professional.url}}>
                  <div class="imghvr-zoom-in">
                    <figure>
                      <div class="no-bg"> <img src={{professional.image}} class="img-responsive" alt="Vedic Total">
                        <h3>{{professional.name}}</h3>
                        <h5>{{professional.Qualification}}</h5>
                      </div>
                    </figure>
                  </div>
                  </a> </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- <div ng-include="'views/common/testimonial.html'"></div> -->
