 <!-- ==============================
FOOTER START
============================== -->
<footer class="footer-style-new">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <h4>About Vedic Total</h4>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoquis nostrud exercitation ullamco.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <h4>Our Contacts</h4>
      <div>
        <dl class="dl-horizontal">
          <dt><i class="fa fa-map-marker"></i> </dt>
          <dd>Vedic Total <br>
             First Floor, 2nd Cross, <br>
            Bannerugatta Road , Bangalore</dd>
          <dt><i class="fa fa-phone-square"></i></dt>
          <dd><a href="tel:1234 567 890"> +91 1234 567 890</a></dd>
          <dt><i class="fa fa-mobile"></i></dt>
          <dd><a href="tel:1234 567 890"> 0123456890,</a><a href="tel:1234 567 890">1234 567890</a></dd>
          <dt> <i class="fa fa-envelope"></i></dt>
          <dd><a href="mailto:info@vedic-total.in">info@vedic-total.in </a></dd>
        </dl>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div>
        <h4>Quck Links</h4>
        <dl class="dl-horizontal quick-links">
          <dt><i class="fa fa-angle-double-right" aria-hidden="true"></i></dt>
          <dd><a href="#"> Safe Harbor Provision</a></dd>
          <dt><i class="fa fa-angle-double-right" aria-hidden="true"></i></dt>
          <dd><a href="#"> About us</a></dd>
          <dt><i class="fa fa-angle-double-right" aria-hidden="true"></i></dt>
          <dd> <a href="#">Explore</a> </dd>
          <dt><i class="fa fa-angle-double-right" aria-hidden="true"></i></dt>
          <dd><a href="#">Carrer</a></dd>
          <dt><i class="fa fa-angle-double-right" aria-hidden="true"></i></dt>
          <dd> <a href="#"> Terms of use </a> </dd>
          <dt><i class="fa fa-angle-double-right" aria-hidden="true"></i></dt>
          <dd> <a href="#"> Privacy Statement </a> </dd>
          <dt><i class="fa fa-angle-double-right" aria-hidden="true"></i></dt>
          <dd><a href="#"> Site Map</a>
            </li>
          </dd>
        </dl>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <h4>Follow Us On</h4>
      <ul class="list-inline sicon">
        <li>
          <div class="icon-circle"> <a href="#" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a> </div>
        </li>
        <li>
          <div class="icon-circle"> <a href="#" class="itwittter" title="Twitter"><i class="fa fa-twitter"></i></a> </div>
        </li>
        <li>
          <div class="icon-circle"> <a href="#" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a> </div>
        </li>
        <li>
          <div class="icon-circle"> <a href="#" class="iLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a> </div>
        </li>
      </ul>
      <h4 class="mt-20">News Letter</h4>
      <form action="" method="POST" role="form">      
        <div class="form-group">
          <input type="email" class="form-control" id="" placeholder="Enter Your mail id">
        </div>
        <button type="submit" class="btn btn-primary btn-view">Submit</button>
      </form>
    </div>
    <div class="foot-links col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <p>Copyright© 2017, Vedic Total , All rights reserved.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right"> Powred by : <a href="#" target="_blank">Vedic Total</a> </div>
      </div>
    </div>
  </div>
</footer>
