 <!-- ==============================
FOOTER START
============================== -->
<footer class="footer-style-new">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <h4>About Vedic Total</h4>
      <p class="text-justify">VedicTotal brings you with a unique concept to guide and transform every individual to adapt to a Natural and Holistic Healthcare approach not just to eliminate diseases but also to take a step closer to Good Health <a href="aboutus.html">more...</a></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <h4>Our Contacts</h4>
      <div>
        <dl class="dl-horizontal">
          <dt><i class="fa fa-map-marker"></i> </dt>
          <dd>Vedic Total <br>
             #210/3, 80 Feet Road, I Stage, 3rd Block, <br>
            HBR Layout, <br>
            Bangalore,<br>
            Karnataka, <br>INDIA 560 043.
            </dd>
          <dt> <i class="fa fa-envelope"></i></dt>
          <dd><a href="mailto:info@vedic-total.in">info@vedic-total.in </a></dd>
        </dl>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div>
        <h4>Quck Links</h4>
        <dl class="dl-horizontal quick-links">
          <dt><i class="fa fa-angle-double-right" aria-hidden="true"></i></dt>
          <dd><a href="#/aboutus"> About us</a></dd>
          <dt><i class="fa fa-angle-double-right" aria-hidden="true"></i></dt>
          <dd><a href="#/careers">Careers</a></dd>
          <dt><i class="fa fa-angle-double-right" aria-hidden="true"></i></dt>
          <dd> <a href="#/termsofuse"> Terms of use </a> </dd>
          <dt><i class="fa fa-angle-double-right" aria-hidden="true"></i></dt>
          <dd> <a href="#/privacyploicy"> Privacy Statement </a> </dd>
          <dt><i class="fa fa-angle-double-right" aria-hidden="true"></i></dt>
          <dd><a href="#/sitemap"> Site Map</a>
            </li>
          </dd>
        </dl>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <h4>Follow Us On</h4>
      <ul class="list-inline sicon">
        <li>
          <div class="icon-circle"> <a href="#" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a> </div>
        </li>
        <li>
          <div class="icon-circle"> <a href="#" class="itwittter" title="Twitter"><i class="fa fa-twitter"></i></a> </div>
        </li>
        <li>
          <div class="icon-circle"> <a href="#" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a> </div>
        </li>
        <li>
          <div class="icon-circle"> <a href="#" class="iLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a> </div>
        </li>
      </ul>
      <h4 class="mt-20">News Letter</h4>
      <form action="" method="POST" role="form">      
        <div class="form-group">
          <input type="email" class="form-control" id="" placeholder="Enter Your mail id">
        </div>
        <button type="submit" class="btn btn-primary btn-view">Submit</button>
      </form>
    </div>
    <div class="foot-links col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <p>Copyright© 2017, Vedic Total , All rights reserved.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right"> Powred by : <a href="#" target="_blank">Vedic Total</a> </div>
      </div>
    </div>
  </div>
</footer>
