<!-- ================================
FIRST HEADER SECTION 
================================ -->
<div class="first-header hidden-xs hidden-sm" ng-controller="HeaderCtrl">
  <div class="container">
    <ul class="nav navbar-nav navbar-static-top pull-right">
      <li class="dropdown notifications-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img src="images/chat.png" class="img-responsive" alt="Image"> <span class="label label-warning">10</span> </a>
        <ul class="dropdown-menu">
          <li class="header">You have 10 Messages</li>
          <li> 
            <!-- inner menu: contains the actual data -->
            <div class="slimScrollDiv">
              <ul class="menu">
                <li> <a href="#"> <i class="fa fa-users text-aqua"></i> 5 new members joined today </a> </li>
                <li> <a href="#"> <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                  page and may cause design problems </a> </li>
                <li> <a href="#"> <i class="fa fa-users text-red"></i> 5 new members joined </a> </li>
                <li> <a href="#"> <i class="fa fa-shopping-cart text-green"></i> 25 sales made </a> </li>
                <li> <a href="#"> <i class="fa fa-user text-red"></i> You changed your username </a> </li>
              </ul>
            </div>
          </li>
          <li class="footer"><a href="explore-list.html">View all</a></li>
        </ul>
      </li>
      <li class="dropdown notifications-menu"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img src="images/notification.png" class="img-responsive faa-ring animated" alt="Image"><!-- <i class="fa fa-bell-o fa-1x faa-ring animated"></i>  --><span class="label label-warning">10</span> </a>
        <ul class="dropdown-menu">
          <li class="header">You have 10 notifications</li>
          <li> 
            <!-- inner menu: contains the actual data -->
            <div class="slimScrollDiv">
              <ul class="menu">
                <li> <a href="#"> <i class="fa fa-users text-aqua"></i> 5 new members joined today </a> </li>
                <li> <a href="#"> <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                  page and may cause design problems </a> </li>
                <li> <a href="#"> <i class="fa fa-users text-red"></i> 5 new members joined </a> </li>
                <li> <a href="#"> <i class="fa fa-shopping-cart text-green"></i> 25 sales made </a> </li>
                <li> <a href="#"> <i class="fa fa-user text-red"></i> You changed your username </a> </li>
              </ul>
            </div>
          </li>
          <li class="footer"><a href="explore-list.html">View all</a></li>
        </ul>
      </li>
      <li> <a data-toggle="modal" href='#Subscribe'>Subscribe </a></li>
      <li ng-show="sessionProfile == null"> <a class="btn btn-brdr sign_inbtn" data-toggle="modal" ng-click="openLogin()"> Sign In</a>
      <li ng-show="sessionProfile == null"> <a class="btn btn-brdr sign_inbtn" data-toggle="modal" ng-click="openRegister()"> Sign Up</a>      
        <li ng-show="sessionProfile != null" class="dropdown" ><a href="javascript:void(0);"
          class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>&nbsp;Hello, {{sessionProfile.name}}<span
            class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-show="sessionProfile.role != 'ADMIN'" href="{{sessionProfile.role == 'PROFESSIONAL'? '#/secured/professional' : '#/secured/manufacturer'}}" class="btn btn-brdr sign_inbtn">Profile</a></li>
            <li><a href="#/secured/adminpanel" class="btn btn-brdr sign_inbtn" ng-show="sessionProfile.role == 'ADMIN'">Settings</a></li>
            <li><a ng-click="logout();" class="btn btn-brdr sign_inbtn">Logout</a></li>
          </ul>
          </li>
      </ul>
  </div>
</div>
