<!-- ==============================
HEADER STATRT
============================= -->
<header>
<!-- ================= START MOBILE HEADER SECTION ================ -->
 <div class="hidden-lg hidden-md sticky-header">
  <nav class="light-blue lighten-1 navbar-fixed-top" role="navigation">
    <div class="nav-wrapper container ">
      <div id="nav-mobile" class="side-nav">         
        <!-- =============== MOBILE HEADER MENUS SECTION =============== -->
        <div class="sidebar-overlay"></div>      
        <aside id="sidebar" class="sidebar sidebar-default sidebar-fixed-left open" role="navigation">
          <div class="sidebar-header header-cover">
            <div class="sidebar-image"> <a ng-href="/"><img src="images/logo.png" class="img-responsive center-block" alt="Image"></a> </div>
          </div>
          <ul class="nav sidebar-nav">
            <li><a ng-href="/"><i class="fa fa-home"></i>HOME</a></li>
            <li><a href="#"><i class="fa fa-user"></i>ABOUT US</a></li>
            <li><a href="/explorelist"><i class="fa fa-building"></i>EXPLORE</a></li>
            <li><a href="/productlisting"><i class="fa fa-shopping-bag"></i>PRODUCTS</a></li>
            <li><a href="/professionallisting"><i class="fa fa-graduation-cap"></i>Professionals</a></li>
            <li><a href="/manufacturerlisting"><i class="fa fa-graduation-cap"></i>Manufacturers</a></li>
            <li><a href="#"><i class="fa fa-phone"></i>CONTACT US</a></li>
            <li><a style="background-color: #46ce72; color: #fff; text-transform: uppercase;"><i class="fa fa-hand-o-right"></i>Quick Contact</a></li>
            <li><a href="tel:123456789"><i class="fa fa-phone"></i>+91-123456789 </a></li>
            <li><a href="mailto:info@vedictotal.in"><i class="fa fa-envelope-o"></i>info@vedictotal.in</a></li>
          </ul>
        </aside>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12"> <a href="" data-activates="nav-mobile" class="button-collapse"> <i class="fa fa-bars"></i></a> <a href="index"> <img src="images/logo.png" class="mainlogo" alt="Image"> </a></div>
    </div>
  </nav>
</div>
<!-- =================DESKTOP MENU START ================= -->
  <div class="hidden-xs hidden-sm">
    <nav class="navbar navbar-default navbar-custom">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
          <div class="navbar-header"> <a class="" ng-href="#/">
            <img src="images/logo.png" class="img-responsive center-block" alt="Image">
          </a> </div> </div>
          <div class="col-md-10">
            <div id="navbar" class="navbar-collapse collapse row">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a ng-href="#/">
                <img src="images/menus/1.1.png" class="img-responsive center-block" alt="Image">Home</a></li>
                <li class=""><a ng-href="#explorelist"><img src="images/menus/2.1.png" class="img-responsive center-block" alt="Image">Explore</a></li>
                <li><a href="#productlisting"><img src="images/menus/4.1.png" class="img-responsive center-block" alt="Image">PRODUCTS</a></li>
                <li><a href="#professionallisting">  <img src="images/menus/4.1.png" class="img-responsive center-block" alt="Image">Professionals</a></li>
                <li><a href="#manufacturerlisting">  <img src="images/menus/3.1.png" class="img-responsive center-block" alt="Image">Manufacturers</a></li>
                <li><a href="#">  <img src="images/menus/3.1.png" class="img-responsive center-block" alt="Image">Carrer</a></li>
                <li><a href="#">  <img src="images/menus/5.1.png" class="img-responsive center-block" alt="Image">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
