<!-- 
=========================
TESTIMONIAL SECTION
=========================
 -->
<section>
  <div class="parallax-container">
    <div class="container content testimonial-slider animatedParent animateOnce">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="first_heading animated fadeInLeft">Testimonials</h2>
        <div id="carousel-example-generic" class="carousel slide animated fadeInRight" data-ride="carousel">
          <div class="carousel-inner">
            <div class="testimonials-upper"> <i class="fa fa-quote-left"></i> </div>
            <div class="testimonials-lower"> <i class="fa fa-quote-right"></i> </div>
            <div class="item active">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-6"> <img src="images/client.png" class="center-block img-responsive" alt="Image"> </div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                  <div class="caption">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
                    <h5>- Mr. Customer Name , Designation, Company Name</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-xs-12">
                  <div class="col-md-2 col-sm-2 col-xs-6"> <img src="images/client.png" class="center-block img-responsive" alt=""> </div>
                  <div class="col-md-10 col-sm-10 col-xs-12">
                    <div class="caption">
                      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        <p></p>
                      </h3>
                      <h5>- Mr. Customer Name , Designation, Company Name</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-xs-12">
                  <div class="col-md-2 col-sm-2 col-xs-6"> <img src="images/client.png" class="center-block img-responsive" alt=""> </div>
                  <div class="col-md-10 col-sm-10 col-xs-12">
                    <div class="caption">
                      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h3>
                      <h5>- Mr. Customer Name , Designation, Company Name </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control left-carosel" href="#carousel-example-generic" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i> </a> <a class="right carousel-control right-carosel" href="#carousel-example-generic" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
    </div>
    <div class="parallax"> <img src="images/background-testimonials.jpg"  class="img-responsive" alt=""> </div>
  </div>
</section>